.image{
    
    float: left;
    max-width: 150px;
    
    height: auto;
}
body{
    background-color:rgb(41, 57, 8);
    font-size: 20px;
    color: antiquewhite;
}
.container{
    padding-right:100px ;
    padding-left:100px;
    
    
    
}
main p{
    margin: 0%;
}
dl{
    display: inline-block;
    width: 100%;
    
}
dd{
    font-weight: bold;
    font-size: 20.15px;
    margin-left: 0%
    
}
h1,dl{
    background-color: rgb(16, 73, 16);
}